@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  background-color: #243b55;
}


/* sidebar */
.sidebar {
  margin: auto auto;
  margin-right: 9em;
}
.input {
  margin-left: 5px;
}

/* gallery */
.container {
  margin: 8em 0 0 5em;
  height: 670px;
  /* border: solid 5px orange; */
  border-radius: 5px;
  overflow-y: scroll;
}

/* galleryItem */
.galleryItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.item {
  border: solid 3px red;
  margin: 1em;
}

/* movie-display */
.movie-display {
  min-height: 625px;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
}

/* movie-content */
.movie-content {
  max-width: 60%;
  margin: auto auto 0;
}

/* movie-content-title */
.movie-content-title {
  color: aliceblue;
  font-size: 6em;
}

/* footer */
.footer {
  text-align: center;
  color: white;
  min-height: 40px;
}

.logo {
  max-width: 250px;
  margin-bottom: 1em;
}

/* movie view */
.movie-view-img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}