/* app */
.appContainer {
  display: flex;
}

/* sidebar */
.sidebar {
  margin: auto auto;
}
.input {
  margin-left: 5px;
}

/* gallery */
.container {
  margin: 10em 0 0 15em;
  height: 350px;
  /* border: solid 5px orange; */
  border-radius: 5px;
}

/* galleryItem */
.galleryItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.item {
  border: solid 3px red;
  margin: 1em;
}
/* movieView */
.movieView-container {
  border: solid 6px red;
  height: 500px;
  width: 500px;
  margin-top: 3em;
  margin-left: 20em;
}
