@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.App {
  background-color: #243b55;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* sidebar */
.sidebar {
  margin: auto auto;
  margin-right: 9em;
}
.input {
  margin-left: 5px;
}

/* gallery */
.galleryContainer {
  margin: 8em 0 0 5em;
  height: 670px;
  /* border: solid 5px orange; */
  border-radius: 5px;
  overflow-y: scroll;
}

/* galleryItem */
.galleryItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.item {
  border: solid 3px red;
  margin: 1em;
}

/* movie-display */
.movie-display {
  min-height: 625px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  border-radius: 10px;
}

/* movie-content */
.movie-content {
  max-width: 60%;
  padding: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* movie-content-title */
.movie-content-title {
  color: white;
  font-size: 6em;
}

/* footer */
.footer {
  text-align: center;
  color: white;
  min-height: 40px;
}

.logo {
  max-width: 250px;
  margin-bottom: 1em;
}

/* movie view */

.movie-img {
  border-radius: 10px;
}

.overview {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* card styling */
.card-img-top {
  object-fit: cover;
}
