
.App {
  background-color: #243b55;
}


/* sidebar */
.sidebar {
  margin: auto auto;
}
.input {
  margin-left: 5px;
}

/* gallery */
.container {
  margin: 10em 0 0 15em;
  height: 350px;
  /* border: solid 5px orange; */
  border-radius: 5px;
}

/* galleryItem */
.galleryItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.item {
  border: solid 3px red;
  margin: 1em;
}

/* movie-display */
.movie-display {
  min-height: 625px;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
}

/* movie-content */
.movie-content {
  max-width: 63%;
  margin: auto auto 0;
}

/* movie-content-title */
.movie-content-title {
  color: lavenderblush;
  font-size: 6em;
}